h1 {
    text-align: center;
}
a {
    display: inline-block;
    color: inherit;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
}
a:after {
    display: block;
    content: "";
    height: 3px; 
    width: 0%;
    background-color: #225384;
    transition: width 0.6s ease-in-out;
    }
a:hover:after,
a:focus:after {
    width: 100%;
    color: #225384;
}
a:hover{
    color:#225384;
} 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 500;
    background-color: rgb(222, 226, 228);
}
.info {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}
#me {
    display: block;
    margin: auto;
    width: 853px;
    height: 568px;
    border-radius: 15px;
}
#gh {
    max-width: 36px;
    max-height: 36px;
}
.language {
    font-weight: 700;
}
.py {
    color: rgb(253, 238, 0);
}
.cpp {
    color: blue;
}
.java {
    color: orange;
}